$theme-color: #ff5252;
$white: #fff;
$grey: #555;
$theme-grey: #778ca3;
$theme-blue: #45aaf2;

.clr-white {
  color: $white;
}

.clr-grey {
  color: $grey;
}

.clr-theme {
  color: $theme-color;
}

.bg-theme {
  background-color: $theme-color;
}

.bg-theme-grey {
  background-color: $theme-grey;
}

.bg-theme-blue {
  background-color: $theme-blue;
}

.bg-transparent {
  background-color: rgba($color: #fff, $alpha: 0.7);
}