.is-just-center {
  justify-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.upcase {
  text-transform: uppercase;
}

.round {
  border-radius: 12px;   
}

.round-ish {
 border-radius: 6px;
}

