@import 'utils';
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columns {
  margin: 0;
}

.panel {
  box-shadow: none;
}

.search-home:hover {
  color: #ffffff;
  background-color: #00b3ff;
  transition-duration: 900ms;
}

.panel-tabs {
  a {      
    border-bottom: none;     
  }
}

.main-nav {
  background-color: $theme-color;  
  .panel-tabs {
    a {      
      width: 16.6%;      
    }

    .brand {
      width: 220px;
    }

    .brand::after {
      content: 'LearnSpace';
      margin-left: 0.5rem;
      color: #fff;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .nav-panel a {
    display: flex;
    align-items: center;
  }
}

.search-container {
  background: url('../img/home.gif') no-repeat;
  background-size: cover;
  height: 80vh;
  padding-top: 200px;
  position: relative;


  .how-it-works {
    position: relative;
    top: 40px;
    left: 44.5%;
  }
}

.features {
  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }
}

.ftr-links {
  img {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 100%;
    height: 70px;
    width: 70px;
  }

  ul {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    li a {
      text-align: center;
    }
  }

  .space-span {
    width: 150px;
  }
}

.ftr-social {
  a {
    opacity: 0.6;
  }  
}

.ftr-cols input[type='text']::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

.ftr-cols input[type='text']:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.ftr-cols input[type='text']::placeholder {
  color: #fff;
}

.search-results {
  a {    
    height: 400px;    
  }
  .user {
    background: url('../img/energy.gif') no-repeat;
    background-size: cover;
    background-position: center;
  }

  .missem {
    background: url('../img/missem.jpeg') no-repeat;
    background-size: cover;
  }

  .coms {
    background: url('../img/comms.gif') no-repeat;
    background-size: cover;
  }

  .intro-ml {
    background:  url('../img/explore.gif') no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.filt-btn-search {
  background-color: $theme-blue;
}

.filt-btn-search:hover, .filt-btn-clear:hover {
  background-color: $theme-color;
  color: #fff;
  transition-duration: 600ms;
}

.filt-btn-clear {
 background: url('../img/clear.svg') no-repeat, #f6b93b no-repeat;
 background-size: 8%, cover;
 background-position: 0.6rem center, center;
 padding-left: 1.5rem;
 color: #fff;
}

.result-link {
  width: 250px;
  height: 70px;
  background: url('../img/openmined.svg') no-repeat;
}

.result-detail {
  border: 1px solid #dadada;
}

.result-details {
  border: 1px solid #dadada;
  padding: 2rem;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);

  .result-apply {
    float: right;
  }

  ul {
    justify-content: flex-end;
    clear: both;
  }

  li {
    justify-content: flex-end;  
    line-height: 2;
  }
}

.search-filter {
  input,
  select {
    min-width: 200px;
  }
  
}

.result-description {
  
  p {
    text-align: justify;
    margin-bottom: 20px;
  }
}

.more-detail {
  padding: 40px 50px;

  img {
    height: auto;
    width: 32px;
  }

  span {
    margin-left: 20px;
    letter-spacing: 0.5rem;
  }
}

.result-video {
  img {
    height: auto;
    width: 32px;
  }
}

@media screen and (max-width: 768px) {
  .search-container::before {
    content: 'LearnSpace';
    color: #fff;
    position: absolute;
    left: 5%;
    top: 2.5%;
    font-weight: bold;
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .how-it-works {
    margin: -100px;
  }
}

@media screen and (min-width: 768px) {
  .ftr-social > p {
    margin: 3rem 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #brand {
    width: 120%;
  }
  .ftr-links {
    ul {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
    }
    img {
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 100%;
      height: 90px;
      width: 90px;
      position: absolute;
      z-index: 5;
      background-color: #000;
      left: 47%;
      bottom: 56%;
    }
  }
}
