@import 'utils';
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columns {
  margin: 0;
}

.panel {
  box-shadow: none;
}

.panel-tabs {
  a {      
    border-bottom: none;     
  }
}

.main-nav {
  background-color: $theme-color;  
  .panel-tabs {
    a {      
      width: 16.6%;      
    }

    .brand {
      width: 220px;
    }
  }
  .nav-panel a {
    display: flex;
    align-items: center;
  }
}

.search-container {
  background: url('../img/school.jpg') no-repeat;
  background-size: cover;
  height: 80vh;
  padding-top: 200px;
  position: relative;


  .how-it-works {
    position: relative;
    top: 40px;
    left: 150px;
  }
}

.features {
  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }
}

.ftr-links {
  img {
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 100%;
  }

  ul {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    li a {
      text-align: center;
    }
  }

  // ul::before {
  //   content: '';
  //   display: inline-block;
  //   position: absolute;
  //   left: 46.25%;
  //   top: 21%;
  //   background: url('../img/edu.svg') no-repeat;
  //   background-size: 60%;
  //   background-position: center;
  //   height: 7vw;
  //   border-radius: 100%;
  //   width: 7vw;
  //   z-index: 2;
  //   background-color: #000;
  //   border: 1px solid #fff;
  // }

  .space-span {
    width: 150px;
  }
}

.ftr-social {
  a {
    opacity: 0.6;
  }
  
}

.search-results {
  a {    
    height: 400px;
    background: url('../img/location.svg') no-repeat , $theme-color;
    background-size: contain, cover;
  }
}

.result-link {
  width: 250px;
  height: 70px;
  background: url('../img/openmined.svg') no-repeat, $theme-blue;
}

.result-detail {
  border: 1px solid #dadada;
}

.result-details {
  border: 1px solid #dadada;
  padding: 2rem;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);

  .result-apply {
    float: right;
  }

  ul {
    justify-content: flex-end;
    clear: both;
  }

  li {
    justify-content: flex-end;  
    line-height: 2;
  }
}

.search-filter {
  input,
  select {
    min-width: 200px;
  }
  
}

.result-description {
  
  p {
    text-align: justify;
    margin-bottom: 20px;
  }
}

.more-detail {
  padding: 40px 50px;

  img {
    height: auto;
    width: 32px;
  }

  span {
    margin-left: 20px;
    letter-spacing: 0.5rem;
  }
}

.result-video {
  img {
    height: auto;
    width: 32px;
  }
}

@media screen and (min-width: 1024px) {
  #brand {
    width: 120%;
  }
  .ftr-links {
    ul {
      display: grid;
      grid-template-columns: repeat(9, 100px);
    }
  }
}
